.container {
  /* position: absolute; */
  width: 1200px;
  /* height: 1360px; */
  margin-left: 215px;
  margin-top: 106px;
  /* background-color: #2196F3; */
  margin-left: 215px;
}
.buttons ul {
  display: flex;
  margin-left: 280px;
}
.todo {
  padding: 6px 18px;
  background-color: #f5f4fa;
  border-style: none;
  /* box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12); */
  border-radius: 4px;
  margin-right: 8px;
  height: 38px;
}
.site,
.app {
  padding: 6px 24px;
  /* box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12); */
  border-radius: 4px;
  border-style: none;
  margin-right: 8px;
  background-color: #f5f4fa;
  height: 38px;
}
.design,
.mark {
  padding: 6px 26px;
  /* box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12); */
  border-radius: 4px;
  border-style: none;
  margin-right: 8px;
  background-color: #f5f4fa;
  height: 38px;
}
.todo,
.site,
.app,
.design,
.mark {
  cursor: pointer;
  font-weight: 500;
  border-color: #f5f4fa;
}
.todo:hover {
  background-color: #2196f3;
  color: white;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}
.site:hover {
  background-color: #2196f3;
  color: white;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}
.app:hover {
  background-color: #2196f3;
  color: white;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}
.design:hover {
  background-color: #2196f3;
  color: white;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}
.mark:hover {
  background-color: #2196f3;
  color: white;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}
/* ---------------------- */
.container-images-card {
    width: 1200px;
    height: auto;
    /* background-color: #2196f3; */
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    margin: 0 0 85px 215px;
  }
  
  .product_list {
    width: 370px;
    height: 404px;
    background: #ffffff;
    border: 1px solid #eeeeee;
  }
  
  .product_list:hover {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
      1px 4px 6px rgba(0, 0, 0, 0.16);
  }
  
  .product_list > a {
    text-decoration: none;
  }
  
  .product-info {
    padding-left: 24px;
  }
  
  .product_image {
    width: 370px;
    height: 294px;
  }
  
  .name-product {
    width: 100%;
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 36px;
    /* identical to box height, or 200% */
    letter-spacing: 0.06em;
    color: #212121;
    margin-bottom: 4px;
  }
  .sub-name{
    color: #757575;
  }
  .overlay-lorem {
    position: relative;
    overflow: hidden;
  }
  
  .overlay-lorem:hover .overlay {
    transform: translateY(-100%);
  }
  
  .overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(33, 150, 243, 0.9);
    
  
    transform: translateY(0);
    transition: transform 250ms ease;
  
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  
  .overlay >p{
  
    padding: 24px 63px;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    /* or 156% */
  
    letter-spacing: 0.03em;
  
    color: #FFFFFF;
  }
/* ---------------------- */